@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IShoppingCartRepository ShoppingCartRepository

<div class="card">
    <div class="card-body">
        <div class="mb-2 row">
            <div class="col-6 px-3">
                @if (!string.IsNullOrEmpty(Product.SpecialTag))
                {
                    <i class="bi bi-star btn btn-outline-success disabled"> @Product.SpecialTag</i>
                }
            </div>
            <div class="col-6 text-end px-3 text-danger h3">
                @Product.Price.ToString("C")
            </div>
        </div>

        <div class="text-center">
            <img 
                class="card-img-top img-thumbnail img-rounded w-50 mt-2" 
                src="@_imageUrl"
                alt="@Product.Name Image">
        </div>

        <h5 class="card-title text-center lead text-success">@Product.Name</h5>

        @if (!string.IsNullOrEmpty(Product.Description))
        {
            <p class="card-text mt-2">@((MarkupString)Product.Description)</p>
        }

        <h4 class="text-center">
            <button
                type="button"
                class="btn btn-success text-right px-5 form-control"
                @onclick="AddOrderItem">
                <i class="bi bi-cart3"> Add to cart</i>
            </button>
        </h4>
    </div>
</div>

@code {
    [Parameter]
    public required Product Product { get; set; }
    
    private string _imageUrl = "images/default.png";


    protected override void OnInitialized()
    {
        if (!string.IsNullOrEmpty(this.Product.ImageUrl))
            _imageUrl = this.Product.ImageUrl;;
    }

    private async Task AddOrderItem()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;
        var authenticated = user.Identity is not null && user.Identity.IsAuthenticated;

        if (!authenticated)
        {
            NavigationManager.NavigateTo("Account/Login", true);
            return;
        }
        
        var userId = user.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        if (string.IsNullOrEmpty(userId))
        {
            NavigationManager.NavigateTo("Account/Login", true);
            return;
        }
        
        var result = await ShoppingCartRepository.UpdateCart(userId, this.Product.Id, 1);
        
        if (result)
            await JSRuntime.ToastrSuccess("Item added to cart successfully.");
        else
            await JSRuntime.ToastrError("Failed to add item to cart!");
    }

}












